---
import CategoryLayout from "../../layouts/CategoryLayout.astro";
import BlogCategories from "../../components/BlogCategories.astro";

const meta = {
  title:
    "Shopping Archives - Hushed | Secure second and temporary phone number app",
  description:
    "Explore our comprehensive shopping archives, featuring expert tips, guides, and resources on how to save money on your phone plan. Learn about how to save money on your phone plan, and how to stay safe in the digital age.",
  canonical: "https://hushed.com/category/shopping/",
  image: "https://hushed.com/wp-content/uploads/2024/04/money-saving-deals.jpg",
  url: "https://hushed.com/category/shopping/",
  ogLocale: "en_US",
  ogType: "article",
  ogTitle:
    "Shopping Archives - Hushed | Secure second and temporary phone number app",
  ogUrl: "https://hushed.com/category/shopping/",
  ogSiteName: "Hushed | Secure second and temporary phone number app",
  twitterCard: "summary_large_image",
  nextPageUrl: "https://hushed.com/category/shopping/page/2/",
  preloadImage: {
    srcset:
      "https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-100x0-c-default.webp 100w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-200x0-c-default.webp 200w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-400x0-c-default.webp 400w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-600x0-c-default.webp 600w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-800x0-c-default.webp 800w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-1000x0-c-default.webp 1000w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals.webp 1280w",
    sizes: "(max-width: 767px) 300px, 755px",
  },
};

const jsonLd = {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "CollectionPage",
      "@id": "https://hushed.com/category/shopping/",
      "@url": "https://hushed.com/category/shopping/",
      "@name":
        "Shopping Archives - Hushed | Secure second and temporary phone number app",
    },
  ],
};
---

<CategoryLayout meta={meta} jsonLd={jsonLd}>
  <main role="main" class="content-wrapper">
    <section class="blog-hero column-text">
      <div class="blog-hero__container column-text__container">
        <h1 class="blog-hero__title column-text__title">Shopping</h1>
        <div class="blog-hero__text column-text__text">
          <p>
            Welcome to the Hushed blog, where we share tips on digital privacy,
            tech, and how to use your Hushed phone numbers.
          </p>
        </div>
      </div>
    </section>

    <BlogCategories currentCategory="Shopping" />

    <section
      class="blog-main-post bg-block-animation gsap-animation"
      data-trigger-start="-30% 70%"
      data-trigger-end="-30% 70%"
      data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
      data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
    >
      <div class="blog-main-post__container">
        <div class="blog-main-post__info">
          <span class="date">April 24, 2024</span>
          <h2 class="main-post-title">
            <a
              class="sk-link"
              title="Mastering Money-Saving Deals with a Second Phone Number"
              target="_self"
              href="https://hushed.com/mastering-money-saving-deals-with-a-second-phone-number/"
            >
              Mastering Money-Saving Deals with a Second Phone Number
            </a>
          </h2>
          <div class="main-post-content">
            <p class="hide-before-load">
              These days you’ve got to be on the lookout for ways to stretch
              your dollar and score every money saving deal on offer. But
              let's...
            </p>
          </div>
        </div>
        <div class="blog-main-post__image sk-image">
          <a
            title="Mastering Money-Saving Deals with a Second Phone Number"
            target="_self"
            href="https://hushed.com/mastering-money-saving-deals-with-a-second-phone-number/"
          >
            <picture>
              <source
                type="image/webp"
                sizes="(max-width: 767px) 300px, 755px"
                srcset="https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-100x0-c-default.webp 100w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-200x0-c-default.webp 200w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-400x0-c-default.webp 400w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-600x0-c-default.webp 600w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-800x0-c-default.webp 800w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-1000x0-c-default.webp 1000w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-1200x0-c-default.webp 1200w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals.webp 1280w"
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 767px) 300px, 755px"
                srcset="https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-100x0-c-default.jpg 100w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-200x0-c-default.jpg 200w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-400x0-c-default.jpg 400w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-600x0-c-default.jpg 600w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-800x0-c-default.jpg 800w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-1000x0-c-default.jpg 1000w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals-1200x0-c-default.jpg 1200w, https://hushed.com/wp-content/uploads/2024/04/money-saving-deals.jpg 1280w"
              />
              <img
                fetchpriority="high"
                class="image"
                width="1280"
                height="853"
                alt="money saving deals"
                src="https://hushed.com/wp-content/uploads/2024/04/money-saving-deals.jpg"
                loading="eager"
              />
            </picture>
          </a>
        </div>
      </div>
    </section>

    <section
      class="blog-top-post blog-post__section bg-block-animation gsap-animation"
      data-trigger-start="-30% 70%"
      data-trigger-end="-30% 70%"
      data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
      data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
    >
      <div
        class="sk-container sk-container--md blog-top-post__container blog-post__container"
      >
        <div class="blog-post__wrapper">
          <article
            data-trigger-start="-30% 80%"
            data-trigger-end="-30% 80%"
            data-gsap-delay="0.2"
            data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
            data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
            class="article-post-item gsap-animation"
          >
            <a
              title="TikTok Discount Code Hacks For Online Shopping"
              target="_self"
              href="https://hushed.com/tiktok-discount-code-hacks-for-online-shopping/"
            >
              <div class="article-post-item__image sk-image">
                <picture>
                  <source
                    type="image/webp"
                    sizes="365px"
                    srcset="https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-100x0-c-default.webp 100w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-200x0-c-default.webp 200w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-400x0-c-default.webp 400w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-600x0-c-default.webp 600w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-800x0-c-default.webp 800w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-1000x0-c-default.webp 1000w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-1200x0-c-default.webp 1200w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1.webp 1500w"
                  />
                  <source
                    type="image/jpeg"
                    sizes="365px"
                    srcset="https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-100x0-c-default.jpg 100w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-200x0-c-default.jpg 200w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-400x0-c-default.jpg 400w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-600x0-c-default.jpg 600w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-800x0-c-default.jpg 800w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-1000x0-c-default.jpg 1000w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1-1200x0-c-default.jpg 1200w, https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1.jpg 1500w"
                  />
                  <img
                    class="image"
                    width="1500"
                    height="1160"
                    alt="Best TikTok Discount Code Hacks"
                    src="https://hushed.com/wp-content/uploads/2024/01/Best-TikTok-Discount-Code-Hacks1.jpg"
                    loading="eager"
                  />
                </picture>
              </div>

              <span class="article-post-item__date">January 24, 2024</span>
              <h3 class="article-post-item__title">
                TikTok Discount Code Hacks For Online Shopping
              </h3>
              <div class="article-post-item__content">
                <p>
                  When you're online shopping, TikTok discount code hacks are a
                  serious game-changer. Nobody's gate-keeping a thing! Somebody
                  saves a bit of money, and they helpfully...
                </p>
              </div>
            </a>
          </article>
        </div>
      </div>
    </section>

    <div class="sk-container sk-container--md pricing-block-wrapper">
      <section
        data-trigger-start="-30% 80%"
        data-trigger-end="-30% 80%"
        data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
        data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
        class="banner-price bg-block-animation gsap-animation"
      >
        <div class="banner-price__container bg-primary">
          <div class="banner-price__wrapper">
            <div class="banner-left">
              <h2 class="banner-price__title sk-font-primary sk-text--h3">
                Trusted by millions
              </h2>

              <div class="banner-price__text">
                <p>450M+ private calls. 1B+ safeguarded messages.</p>
              </div>
            </div>

            <div class="banner-right">
              <div class="price">
                <p class="price__top-text">ONLY</p>
                <p class="price__center-text">
                  <span class="price__number">$4.99</span>
                  <span class="price__period"> USD/MONTH</span>
                </p>

                <p class="price__bottom-text">Unlimited Subscription</p>
              </div>

              <div class="buttons-wrapper">
                <a
                  class="banner-price__apple-btn"
                  href="https://hushed.onelink.me/hushed/appstore"
                  aria-label="Apple store"
                  rel="noopener noreferer"
                  target="_blank"></a>

                <a
                  class="banner-price__google-btn"
                  href="https://hushed.onelink.me/hushed/googleplay"
                  aria-label="Google Play store"
                  rel="noopener noreferer"
                  target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</CategoryLayout>
