--- 
import BaseLayout from "../layouts/Layout.astro"; 
import Footer from "../components/Footer.astro"; 
import Header from "../components/Header.astro";
import "../styles/common.css"; 
import { config } from '../config';
---

<BaseLayout
  title="VOIP plans and pricing - Buzznum - 2nd Phone Number"
  description="Choose from a variety of affordable phone plans to go with each phone number. Perfect for whether you need it for two days or two years."
  og_title="VOIP plans and pricing - Buzznum - 2nd Phone Number"
  og_description="Choose from a variety of affordable phone plans to go with each phone number. Perfect for whether you need it for two days or two years."
  og_url="https://hushed.com/pricing/"
  og_site_name="Buzznum | Secure second and temporary phone number app"
>
  <slot name="head">
    <!-- Page-specific head content -->
    <link
    rel="stylesheet"
    id="block-faq-css"
    href={config.urls.origin + '/css/blocks/faq.css'}
    type="text/css"
    media="all"
  />
    <link
      rel="stylesheet"
      id="app-css"
      href={config.urls.origin + '/css/app.css'}
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="template-index-css"
      href={config.urls.origin + '/css/templates/index.css'}
      type="text/css"
      media="all"
    />
    <link
    rel="stylesheet"
    id="block-features-grid-layout-css"
    href={config.urls.origin + '/css/blocks/features-grid-layout.css'}
    type="text/css"
    media="all"
  />
  <link
  rel="stylesheet"
  id="block-plans-css"
  href={config.urls.origin + '/css/blocks/plans.css'}
  type="text/css"
  media="all"
/>
<link
rel="stylesheet"
id="block-text-with-image-css"
href={config.urls.origin + '/css/blocks/text-with-image.css'}
type="text/css"
media="all"
/>

  </slot>

  <body
    class="page-template-default page page-id-46 loading-fonts"
    data-template="base.twig"
    data-bg-color="bg-primary-extra-light"
  >
    <Header />
    <div class="overlay-mob-menu load bg-primary-extra-light"></div>
    <main role="main" class="content-wrapper">
      <script type="text/javascript">
        +(function (a, p, P, b, y) {
          a.braze = {};
          a.brazeQueue = [];
          for (
            var s =
                "BrazeSdkMetadata DeviceProperties Card Card.prototype.dismissCard Card.prototype.removeAllSubscriptions Card.prototype.removeSubscription Card.prototype.subscribeToClickedEvent Card.prototype.subscribeToDismissedEvent Card.fromContentCardsJson ImageOnly CaptionedImage ClassicCard ControlCard ContentCards ContentCards.prototype.getUnviewedCardCount Feed Feed.prototype.getUnreadCardCount ControlMessage InAppMessage InAppMessage.SlideFrom InAppMessage.ClickAction InAppMessage.DismissType InAppMessage.OpenTarget InAppMessage.ImageStyle InAppMessage.Orientation InAppMessage.TextAlignment InAppMessage.CropType InAppMessage.prototype.closeMessage InAppMessage.prototype.removeAllSubscriptions InAppMessage.prototype.removeSubscription InAppMessage.prototype.subscribeToClickedEvent InAppMessage.prototype.subscribeToDismissedEvent InAppMessage.fromJson FullScreenMessage ModalMessage HtmlMessage SlideUpMessage User User.Genders User.NotificationSubscriptionTypes User.prototype.addAlias User.prototype.addToCustomAttributeArray User.prototype.addToSubscriptionGroup User.prototype.getUserId User.prototype.getUserId User.prototype.incrementCustomUserAttribute User.prototype.removeFromCustomAttributeArray User.prototype.removeFromSubscriptionGroup User.prototype.setCountry User.prototype.setCustomLocationAttribute User.prototype.setCustomUserAttribute User.prototype.setDateOfBirth User.prototype.setEmail User.prototype.setEmailNotificationSubscriptionType User.prototype.setFirstName User.prototype.setGender User.prototype.setHomeCity User.prototype.setLanguage User.prototype.setLastKnownLocation User.prototype.setLastName User.prototype.setPhoneNumber User.prototype.setPushNotificationSubscriptionType InAppMessageButton InAppMessageButton.prototype.removeAllSubscriptions InAppMessageButton.prototype.removeSubscription InAppMessageButton.prototype.subscribeToClickedEvent FeatureFlag FeatureFlag.prototype.getStringProperty FeatureFlag.prototype.getNumberProperty FeatureFlag.prototype.getBooleanProperty automaticallyShowInAppMessages destroyFeed hideContentCards showContentCards showFeed showInAppMessage deferInAppMessage toggleContentCards toggleFeed changeUser destroy getDeviceId getDeviceId initialize isPushBlocked isPushPermissionGranted isPushSupported logCardClick logCardDismissal logCardImpressions logContentCardImpressions logContentCardClick logCustomEvent logFeedDisplayed logInAppMessageButtonClick logInAppMessageClick logInAppMessageHtmlClick logInAppMessageImpression logPurchase openSession requestPushPermission removeAllSubscriptions removeSubscription requestContentCardsRefresh requestFeedRefresh refreshFeatureFlags requestImmediateDataFlush enableSDK isDisabled setLogger setSdkAuthenticationSignature addSdkMetadata disableSDK subscribeToContentCardsUpdates subscribeToFeedUpdates subscribeToInAppMessage subscribeToSdkAuthenticationFailures toggleLogging unregisterPush wipeData handleBrazeAction subscribeToFeatureFlagsUpdates getAllFeatureFlags logFeatureFlagImpression".split(
                  " "
                ),
              i = 0;
            i < s.length;
            i++
          ) {
            for (
              var m = s[i], k = a.braze, l = m.split("."), j = 0;
              j < l.length - 1;
              j++
            )
              k = k[l[j]];
            k[l[j]] = new Function(
              "return function " +
                m.replace(/\./g, "_") +
                "(){window.brazeQueue.push(arguments); return true}"
            )();
          }
          window.braze.getDeferredInAppMessage = function () {
            return new window.braze.InAppMessage();
          };
          window.braze.getCachedContentCards = function () {
            return new window.braze.ContentCards();
          };
          window.braze.getCachedFeed = function () {
            return new window.braze.Feed();
          };
          window.braze.getUser = function () {
            return new window.braze.User();
          };
          window.braze.getFeatureFlag = function () {
            return new window.braze.FeatureFlag();
          };
          (y = p.createElement(P)).type = "text/javascript";
          y.src = "https://js.appboycdn.com/web-sdk/5.2/braze.min.js";
          y.async = 1;
          (b = p.getElementsByTagName(P)[0]).parentNode.insertBefore(y, b);
        })(window, document, "script");
      </script>

      <section
        data-trigger-start="-10% 70%"
        data-trigger-end="-10% 70%"
        data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
        data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
        class="text-with-image bg-block-animation gsap-animation gutenberg-block bg-primary-extra-light"
      >
        <div class="sk-container sk-container--md text-with-image__wrapper">
          <div class="text-with-image__content">
            <h1 class="text-with-image__title sk-font-primary sk-text--h1">
              Talk &#038; text on your terms
            </h1>

            <p class="text-with-image__text">
              Choose the perfect affordable phone plan.
            </p>

            <a
              href="https://app.hushed.com/signup"
              class="sk-btn text-with-image__button"
            >
              GET HUSHED
            </a>
          </div>

          <div class="text-with-image__media">
            <picture>
              <source
                type="image/webp"
                sizes="560px"
                srcset="https://hushed.com/wp-content/uploads/2023/11/Vector-100x0-c-default.webp 100w, https://hushed.com/wp-content/uploads/2023/11/Vector-200x0-c-default.webp 200w, https://hushed.com/wp-content/uploads/2023/11/Vector-400x0-c-default.webp 400w, https://hushed.com/wp-content/uploads/2023/11/Vector.webp 560w"
              />
              <source
                type="image/jpeg"
                sizes="560px"
                srcset="https://hushed.com/wp-content/uploads/2023/11/Vector-100x0-c-default.jpg 100w, https://hushed.com/wp-content/uploads/2023/11/Vector-200x0-c-default.jpg 200w, https://hushed.com/wp-content/uploads/2023/11/Vector-400x0-c-default.jpg 400w, https://hushed.com/wp-content/uploads/2023/11/Vector.jpg 560w"
              />
              <img
                fetchpriority="high"
                decoding="async"
                class=""
                width="560"
                height="380"
                alt="Vector"
                src="https://hushed.com/wp-content/uploads/2023/11/Vector.jpg"
                loading="eager"
              />
            </picture>
          </div>
        </div>
      </section>

      <section
        data-trigger-start="-10% 75%"
        data-trigger-end="-10% 75%"
        data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
        data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
        class="plans gutenberg-block bg-block-animation gsap-animation hide-on-load bg-third-extra-light"
      >
        <div class="plans-wrapper">
          <div class="plans-container">
            <div
              data-trigger-start="-100% 70%"
              data-trigger-end="-100% 70%"
              data-gsap-delay="0.2"
              data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
              data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
              class="plan gsap-animation-item-timeline"
            >
              <div class="plan__wrapper bg-second-extra-light">
                <h2 class="plan__title">Prepaid</h2>
                <p class="plan__subtitle">
                  Talk and text on your very own private phone number, all for a
                  low one-time payment.
                </p>
                <p class="plan__price-text">STARTING AT</p>
                <p class="plan__price sk-text--h1-down">$3.99</p>
                <p class="plan__price-info">
                  <span class="plan__price-info--main">USD</span>
                </p>
                <ul class="plan__features plan-features">
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Credits for local calling and texting*
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Custom voicemail greetings, call forwarding, and more
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Choose from 7, 30, 90, and 365 day plans, and extend your
                      number anytime
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      One-time payment, no subscription
                    </p>
                  </li>
                </ul>

                <a
                  href="https://app.hushed.com/signup"
                  class="sk-btn plan__button"
                  target="_self">GET PREPAID</a
                >
              </div>
            </div>
            <div
              data-trigger-start="-100% 70%"
              data-trigger-end="-100% 70%"
              data-gsap-delay="0.3"
              data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
              data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
              class="plan popular-plan-wrapper gsap-animation-item-timeline"
            >
              <div class="popular-plan__label popular-label">
                <div class="popular-label__icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="13"
                    viewBox="0 0 16 13"
                    fill="none"
                  >
                    <path
                      d="M10.3349 2.43735L10.2701 2.49248L10.3873 2.504L11.3579 3.73751L12.5531 2.71548L12.6696 2.727L12.618 2.65953L14.625 0.942984C14.7532 0.833465 14.9123 0.76533 15.0808 0.747698C15.2493 0.730065 15.4192 0.763775 15.5679 0.844318C15.7165 0.92486 15.8367 1.04839 15.9124 1.19838C15.9881 1.34837 16.0157 1.51765 15.9915 1.68358L14.7439 10.198H1.27582L0.00910657 1.72226C-0.0160553 1.55541 0.0112231 1.38493 0.0872471 1.23393C0.163271 1.08293 0.284367 0.958692 0.434133 0.878048C0.5839 0.797405 0.755099 0.764252 0.924544 0.783079C1.09399 0.801906 1.25349 0.871804 1.38145 0.983305L3.29524 2.64965L3.25365 2.69903L3.34431 2.69244L4.54532 3.73751L5.55336 2.50894L5.64402 2.50153L5.59412 2.45874L7.36652 0.3036C7.44547 0.207577 7.5453 0.130414 7.65857 0.0778574C7.77185 0.0253005 7.89564 -0.00129597 8.02075 4.85513e-05C8.14585 0.00139307 8.26904 0.030644 8.38113 0.0856229C8.49322 0.140602 8.59134 0.219892 8.66816 0.317589L10.3349 2.43735ZM1.34069 11.0209H14.6482V11.8438C14.6482 12.062 14.5606 12.2713 14.4046 12.4256C14.2487 12.58 14.0371 12.6667 13.8165 12.6667H2.17241C1.95183 12.6667 1.74028 12.58 1.5843 12.4256C1.42832 12.2713 1.34069 12.062 1.34069 11.8438V11.0209Z"
                      fill="#154042"></path>
                  </svg>
                </div>
                <p class="popular-label__text">MOST POPULAR</p>
              </div>

              <div class="plan__wrapper popular-plan bg-second">
                <h2 class="plan__title">Unlimited</h2>
                <p class="plan__subtitle">
                  Got a lot to say? Save money on unlimited local calling and
                  texting with our auto-renewing subscription plans.
                </p>
                <p class="plan__price-text">STARTING AT</p>
                <p class="plan__price sk-text--h1-down">$4.99</p>
                <p class="plan__price-info">
                  <span class="plan__price-info--main">USD/MONTH</span>
                </p>
                <ul class="plan__features plan-features">
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Unlimited local talk &#038; text*
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Custom voicemail greetings, call forwarding, and more
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">Available for 1-3 lines</p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Auto-renewing subscriptions (save up to 20% with an annual
                      plan)
                    </p>
                  </li>
                </ul>

                <a
                  href="https://app.hushed.com/signup"
                  class="sk-btn plan__button"
                  target="_self">GET UNLIMITED</a
                >
              </div>
            </div>
            <div
              data-trigger-start="-100% 70%"
              data-trigger-end="-100% 70%"
              data-gsap-delay="0.4"
              data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
              data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
              class="plan gsap-animation-item-timeline"
            >
              <div class="plan__wrapper bg-second-extra-light">
                <h2 class="plan__title">Pay-as-you-go</h2>
                <p class="plan__subtitle">
                  Hola! Bonjour! Konnichiwa! Our international plan lets you
                  stay in touch with people all over the world.
                </p>
                <p class="plan__price-text">STARTING AT</p>
                <p class="plan__price sk-text--h1-down">$6.99</p>
                <p class="plan__price-info">
                  <span class="plan__price-info--main">USD/MONTH </span>
                  <span class="plan__price-info--additional"
                    >(includes $1 in credits)</span
                  >
                </p>
                <ul class="plan__features plan-features">
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Make international calls with great rates
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      International texting capabilities available with US/CAN
                      numbers
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Custom voicemail greetings, call forwarding, and more
                    </p>
                  </li>
                  <li class="plan-features__item plan-feature">
                    <div class="plan-feature__marker">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="9035300_checkmark_done_outline_icon 1">
                          <path
                            id="Vector (Stroke)"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.6829 4.07668C16.9167 4.28125 16.9404 4.63662 16.7358 4.87042L8.86082 13.8704C8.75831 13.9876 8.61182 14.057 8.45622 14.0622C8.30062 14.0674 8.14984 14.0078 8.03975 13.8978L4.66475 10.5228C4.44508 10.3031 4.44508 9.94693 4.66475 9.72726C4.88442 9.50759 5.24058 9.50759 5.46025 9.72726L8.4101 12.6771L15.8892 4.1296C16.0937 3.8958 16.4491 3.87211 16.6829 4.07668Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_2"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M1.28975 9.72725C1.50942 9.50758 1.86558 9.50758 2.08525 9.72725L5.46025 13.1023C5.67992 13.3219 5.67992 13.6781 5.46025 13.8977C5.24058 14.1174 4.88442 14.1174 4.66475 13.8977L1.28975 10.5227C1.07008 10.3031 1.07008 9.94692 1.28975 9.72725Z"
                            fill="#154042"></path>
                          <path
                            id="Vector (Stroke)_3"
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M13.3071 4.07601C13.5413 4.28016 13.5657 4.63548 13.3615 4.86965L8.58026 10.354C8.37611 10.5882 8.02079 10.6125 7.78662 10.4084C7.55245 10.2042 7.52812 9.84891 7.73226 9.61474L12.5135 4.13037C12.7177 3.8962 13.073 3.87187 13.3071 4.07601Z"
                            fill="#154042"></path>
                        </g>
                      </svg>
                    </div>
                    <p class="plan-feature__text">
                      Use Buzznum credits for calls &#038; texts
                    </p>
                  </li>
                </ul>

                <a
                  href="https://app.hushed.com/signup"
                  class="sk-btn plan__button"
                  target="_self">GET PAY-AS-YOU-GO</a
                >
              </div>
            </div>
          </div>

          <div class="plans-content">
            <p class="plans-text">
              *(+1) U.S and Canadian numbers can make/receive calls and texts
              within both countries on all plan types.
            </p>
          </div>
        </div>
      </section>

      <section
        data-trigger-start="-30% 70%"
        data-trigger-end="-30% 70%"
        data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
        data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
        class="banner-cta bg-block-animation gsap-animation gutenberg-block reduced-section bg-white"
      >
        <div class="background-placeholder bg-third-extra-light"></div>
        <div
          data-gsap-from='{"y": "20%", "duration": 0.5, "opacity": "0"}'
          data-gsap-to='{"y": "0", "duration": 0.5, "opacity": "1"}'
          class="sk-container gsap-animation-item-timeline sk-container--fl bg-third-light"
        >
          <div class="banner-cta-content">
            <h2 class="banner-cta-content__title sk-font-primary sk-text--h3">
              Cancel out the noise with Buzznum
            </h2>

            <p class="banner-cta-content__text">
              Unlimited calling &#038; texting starting at just $4.99
            </p>

            <a
              href="https://app.hushed.com/signup"
              class="sk-btn banner-cta-content__button banner-cta-desktop"
              target="_self">SIGN UP</a
            >
          </div>
          <div
            data-gsap-from='{"y": "20%", "duration": 0.5, "delay" : 0.4, "opacity": "0"}'
            data-gsap-to='{"y": "0", "duration": 0.5, "delay" : 0.4, "opacity": "1"}'
            class="banner-cta-picture gsap-animation-item-timeline"
          >
            <picture>
              <source
                type="image/webp"
                sizes="(max-width: 767px) 200px, (max-width: 991px) 400px, 600px"
                srcset="https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-100x0-c-default.webp 100w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-200x0-c-default.webp 200w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-400x0-c-default.webp 400w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-600x0-c-default.webp 600w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large.webp 632w"
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 767px) 200px, (max-width: 991px) 400px, 600px"
                srcset="https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-100x0-c-default.jpg 100w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-200x0-c-default.jpg 200w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-400x0-c-default.jpg 400w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large-600x0-c-default.jpg 600w, https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large.jpg 632w"
              />
              <img
                decoding="async"
                class="banner-image"
                width="632"
                height="695"
                alt="hushed-phone-list-large"
                src="https://hushed.com/wp-content/uploads/2024/03/hushed-phone-list-large.png"
                loading="eager"
              />
            </picture>
          </div>
        </div>
      </section>

      <section
        data-trigger-start="-30% 70%"
        data-trigger-end="-30% 70%"
        data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
        data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
        class="features-grid-layout gutenberg-block bg-block-animation gsap-animation bg-white"
        id="featured"
      >
        <div class="sk-container--md">
          <div class="features-grid-layout-content">
            <div class="features-grid-layout-content">
              <h2
                class="features-grid-layout-content__title sk-text--h3 sk-font-primary sk-text--h3"
              >
                Do more with Buzznum.
              </h2>
            </div>

            <div class="features-grid-layout-features">
              <div
                class="feature-card gsap-animation"
                data-trigger-start="-100% 80%"
                data-trigger-end="-100% 80%"
                data-gsap-delay="0.1"
                data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
              >
                <img
                  loading="lazy"
                  decoding="async"
                  width="110"
                  height="110"
                  src="https://hushed.com/wp-content/uploads/2023/11/hushed_icons_anon_CALLING.svg"
                  class="attachment-thumbnail size-thumbnail"
                  alt="Icon for anonymous calling"
                />
                <h3 class="feature-card__title">anonymous calling</h3>
                <p class="feature-card__text">
                  <!-- wp:paragraph -->
                  <p>
                    Make and receive calls with an anonymous phone number.
                    Nothing is connected to your regular phone number, or shows
                    up on a phone bill.
                  </p>
                  <!-- /wp:paragraph -->
                </p>
              </div>
              <div
                class="feature-card gsap-animation"
                data-trigger-start="-100% 80%"
                data-trigger-end="-100% 80%"
                data-gsap-delay="0.2"
                data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
              >
                <img
                  loading="lazy"
                  decoding="async"
                  width="110"
                  height="110"
                  src="https://hushed.com/wp-content/uploads/2023/11/hushed_icons_SMS.svg"
                  class="attachment-thumbnail size-thumbnail"
                  alt=""
                />
                <h3 class="feature-card__title">securetexting</h3>
                <p class="feature-card__text">
                  <!-- wp:paragraph -->
                  <p>
                    Send and receive texts, GIFs, photos, videos, and audio
                    messages on your own secure phone number. Keep every
                    conversation private.
                  </p>
                  <!-- /wp:paragraph -->
                </p>
              </div>
              <div
                class="feature-card gsap-animation"
                data-trigger-start="-100% 80%"
                data-trigger-end="-100% 80%"
                data-gsap-delay="0.3"
                data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
              >
                <img
                  loading="lazy"
                  decoding="async"
                  width="110"
                  height="110"
                  src="https://hushed.com/wp-content/uploads/2023/11/hushed_icons_MULTIPLES.svg"
                  class="attachment-thumbnail size-thumbnail"
                  alt=""
                />
                <h3 class="feature-card__title">
                  Manage multiple private numbers
                </h3>
                <p class="feature-card__text">
                  <!-- wp:paragraph -->
                  <p>
                    Separate each area of your life with multiple phone numbers
                    from Buzznum. Keep each number as long as youd like, or
                    delete them and get new ones.
                  </p>
                  <!-- /wp:paragraph -->
                </p>
              </div>
            </div>
          </div>

          <div class="features-grid-layout-link">
            <a
              href="/features/"
              class="sk-btn features-grid-layout-content__button features-grid-layout-desktop"
              target="_self">All Features</a
            >
          </div>
        </div>
      </section>

      <section
        data-trigger-start="-30% 70%"
        data-trigger-end="-30% 70%"
        data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
        data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
        class="faq gutenberg-block bg-block-animation gsap-animation bg-second"
      >
        <div class="sk-container sk-container--md">
          <div
            data-trigger-start="-100% 70%"
            data-trigger-end="-100% 70%"
            data-gsap-from='{"y": "20%", "duration": 0.2, "opacity": "0"}'
            data-gsap-to='{"y": "0", "duration": 0.2, "opacity": "1"}'
            class="faq__content gsap-animation-item-timeline"
          >
            <h2 class="faq__title sk-font-primary sk-text--h3">
              You asked. We answered.
            </h2>

            <ul class="faq__list">
              <li
                data-trigger-start="-100% 70%"
                data-trigger-end="-100% 70%"
                data-gsap-delay="0.2"
                data-gsap-from='{"x": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"x": "0", "duration": 0.2, "opacity": "1"}'
                class="faq__list-item gsap-animation-item-timeline"
              >
                <button
                  class="faq__question"
                  data-toggle-class="faq__list-item--open"
                  data-toggle-target=".faq__list-item"
                >
                  <span class="text"> Whats Buzznum? </span>
                  <span class="marker">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.0002 9.01847V16.0186H9.0002V9.01847H16V7.01847H9.0002V0.0185547H7.0002V7.01847H0V9.01847H7.0002Z"
                        fill="#A6CDCD"></path>
                    </svg>
                  </span>
                </button>
                <div class="faq__answer-wrapper">
                  <p class="faq__answer">
                    Buzznum is a free app that makes it easy and affordable to
                    call and text on private phone numbers. Choose from phone
                    numbers in 300+ area codes, and get a phone plan starting at
                    just $3.99.
                  </p>
                </div>
              </li>
              <li
                data-trigger-start="-100% 70%"
                data-trigger-end="-100% 70%"
                data-gsap-delay="0.3"
                data-gsap-from='{"x": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"x": "0", "duration": 0.2, "opacity": "1"}'
                class="faq__list-item gsap-animation-item-timeline"
              >
                <button
                  class="faq__question"
                  data-toggle-class="faq__list-item--open"
                  data-toggle-target=".faq__list-item"
                >
                  <span class="text"> How do I create a Buzznum account? </span>
                  <span class="marker">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.0002 9.01847V16.0186H9.0002V9.01847H16V7.01847H9.0002V0.0185547H7.0002V7.01847H0V9.01847H7.0002Z"
                        fill="#A6CDCD"></path>
                    </svg>
                  </span>
                </button>
                <div class="faq__answer-wrapper">
                  <p class="faq__answer">
                    It takes about 10 seconds to create a Buzznum account.
                    Really! Just sign up for an account, and you&#8217;re in.
                    Don&#8217;t forget to download our extremely cool (free)
                    app, too.
                  </p>
                </div>
              </li>
              <li
                data-trigger-start="-100% 70%"
                data-trigger-end="-100% 70%"
                data-gsap-delay="0.4"
                data-gsap-from='{"x": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"x": "0", "duration": 0.2, "opacity": "1"}'
                class="faq__list-item gsap-animation-item-timeline"
              >
                <button
                  class="faq__question"
                  data-toggle-class="faq__list-item--open"
                  data-toggle-target=".faq__list-item"
                >
                  <span class="text"> Do I need internet to use Buzznum? </span>
                  <span class="marker">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.0002 9.01847V16.0186H9.0002V9.01847H16V7.01847H9.0002V0.0185547H7.0002V7.01847H0V9.01847H7.0002Z"
                        fill="#A6CDCD"></path>
                    </svg>
                  </span>
                </button>
                <div class="faq__answer-wrapper">
                  <p class="faq__answer">
                    Yes! Buzznum numbers work over the internet, so you either
                    need Wi-Fi, mobile data, or for a kind soul to take pity on
                    you and hotspot your device.
                  </p>
                </div>
              </li>
              <li
                data-trigger-start="-100% 70%"
                data-trigger-end="-100% 70%"
                data-gsap-delay="0.5"
                data-gsap-from='{"x": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"x": "0", "duration": 0.2, "opacity": "1"}'
                class="faq__list-item gsap-animation-item-timeline"
              >
                <button
                  class="faq__question"
                  data-toggle-class="faq__list-item--open"
                  data-toggle-target=".faq__list-item"
                >
                  <span class="text">
                    What type of phone do I need to use Buzznum?
                  </span>
                  <span class="marker">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.0002 9.01847V16.0186H9.0002V9.01847H16V7.01847H9.0002V0.0185547H7.0002V7.01847H0V9.01847H7.0002Z"
                        fill="#A6CDCD"></path>
                    </svg>
                  </span>
                </button>
                <div class="faq__answer-wrapper">
                  <p class="faq__answer">
                    Buzznum works on ANY phone or tablet that can download the
                    free Buzznum app. (We&#8217;re talking seriously old phones.)
                    As long as there&#8217;s a working speaker and it can
                    connect to the internet (Wi-Fi or data), you&#8217;re good
                    to go.
                  </p>
                </div>
              </li>
              <li
                data-trigger-start="-100% 70%"
                data-trigger-end="-100% 70%"
                data-gsap-delay="0.6"
                data-gsap-from='{"x": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"x": "0", "duration": 0.2, "opacity": "1"}'
                class="faq__list-item gsap-animation-item-timeline"
              >
                <button
                  class="faq__question"
                  data-toggle-class="faq__list-item--open"
                  data-toggle-target=".faq__list-item"
                >
                  <span class="text"> Who created the Buzznum app? </span>
                  <span class="marker">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.0002 9.01847V16.0186H9.0002V9.01847H16V7.01847H9.0002V0.0185547H7.0002V7.01847H0V9.01847H7.0002Z"
                        fill="#A6CDCD"></path>
                    </svg>
                  </span>
                </button>
                <div class="faq__answer-wrapper">
                  <p class="faq__answer">
                    Buzznum is a product of AffinityClick Inc. based on Ottawa,
                    Ontario. (That&#8217;s in Canada, and yes, really do have
                    three Tim Hortons locations within sight at all times.)
                    Buzznum is the O.G. app in our little app family, along with
                    aloSIM, which lets you download eSIMs (SIM cards) for 175+
                    countries.
                  </p>
                </div>
              </li>
              <li
                data-trigger-start="-100% 70%"
                data-trigger-end="-100% 70%"
                data-gsap-delay="0.7"
                data-gsap-from='{"x": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"x": "0", "duration": 0.2, "opacity": "1"}'
                class="faq__list-item gsap-animation-item-timeline"
              >
                <button
                  class="faq__question"
                  data-toggle-class="faq__list-item--open"
                  data-toggle-target=".faq__list-item"
                >
                  <span class="text"> Why do people use Buzznum? </span>
                  <span class="marker">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.0002 9.01847V16.0186H9.0002V9.01847H16V7.01847H9.0002V0.0185547H7.0002V7.01847H0V9.01847H7.0002Z"
                        fill="#A6CDCD"></path>
                    </svg>
                  </span>
                </button>
                <div class="faq__answer-wrapper">
                  <p class="faq__answer">
                    People used Buzznum for lots of different reasons, but
                    usually it&#8217;s because they want a secondary phone
                    number (or lots of them) to use instead of their real phone
                    number.
                  </p>
                </div>
              </li>
              <li
                data-trigger-start="-100% 70%"
                data-trigger-end="-100% 70%"
                data-gsap-delay="0.8"
                data-gsap-from='{"x": "20%", "duration": 0.2, "opacity": "0"}'
                data-gsap-to='{"x": "0", "duration": 0.2, "opacity": "1"}'
                class="faq__list-item gsap-animation-item-timeline"
              >
                <button
                  class="faq__question"
                  data-toggle-class="faq__list-item--open"
                  data-toggle-target=".faq__list-item"
                >
                  <span class="text"> Are Buzznum phone numbers fake? </span>
                  <span class="marker">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="17"
                      viewBox="0 0 16 17"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.0002 9.01847V16.0186H9.0002V9.01847H16V7.01847H9.0002V0.0185547H7.0002V7.01847H0V9.01847H7.0002Z"
                        fill="#A6CDCD"></path>
                    </svg>
                  </span>
                </button>
                <div class="faq__answer-wrapper">
                  <p class="faq__answer">
                    They&#8217;re real working phone numbers, but sometimes
                    people want a junk/fake number they can give out freely
                    (shopping, salespeople, annoying forms) to prevent their
                    real phone number from ending up on spammy lists.
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="faq__btn-wrapper">
            <a
              href="https://support.hushed.com/hc/en-us"
              class="sk-btn faq__button"
              target="_blank"
            >
              MORE FAQs
            </a>
          </div>
        </div>
      </section>
    </main>
    <Footer />


    <!-- Scripts -->
    <script>
      // Copy relevant scripts from blog.astro
    </script>
    <script
    type="text/javascript"
    src="/js/blocks/faq.js"
    id="block-faq-js"
    data-rocket-defer
    defer></script>
    <script
    type="text/javascript"
    src="/js/vendor/jquery.js"
    id="vendor-jquery-js"
    data-rocket-defer
    defer></script>







    <script>
      (function(d, u, ac) {
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.src = 'https://a.omappapi.com/app/js/api.min.js';
        s.async = true;
        s.dataset.user = u;
        s.dataset.campaign = ac;
        d.getElementsByTagName('head')[0].appendChild(s);
      })(document, 51804, 'qo2kgqiyvfef5isawddv');
    </script>
  </body>
</BaseLayout>
